// Import Compass and external stylesheets
@import 'compass';
@import 'vendor/html5bp';


// Misc vars
$imgThumbSize: 306px;
$imgFullSize: 510px;


// Main styles
body {
	margin: 2% 0;
	background: url(../img/bg.jpg);
}

#main {
	margin: 0 auto;

	.img-container {
		width: $imgThumbSize;
		height: $imgThumbSize;
		position: relative;
		float: left;
		cursor: pointer;

		img {
			width: 100%;
			height: 100%;
		}

		.overlay {
			@include opacity(0);
			@include transition(all .15s ease-out);
			background-image: url(../img/image-overlay.png);
			@include background-image(radial-gradient(center, ellipse cover,  rgba(255,227,204,0.7) 0%,rgba(229,180,140,0.7) 100%));
			color: white;
			text-align: center;
			position: absolute;
			bottom: 0;
			left: 0;
			width: $imgThumbSize;
			max-height: 0;
			line-height: 0;
			font-size: 40px;
		}

		&:hover {
			.overlay {
				@include opacity(1);
				@include transition(all .25s);
				max-height: $imgThumbSize;
				line-height: $imgThumbSize;
			}
		}

		&.active {
			@include box-shadow(0 0 40px rgba(black, .8));
			@include scale(1.25);
			width: $imgFullSize;
			height: $imgFullSize;
			z-index: 9999;
			margin: 52px 0px 0px 52px;

			.overlay { display: none; }
		}
	}
}


// Masonry
.masonry,
.masonry .masonry-brick {
	-webkit-transition-duration: 0.7s;
		 -moz-transition-duration: 0.7s;
			-ms-transition-duration: 0.7s;
			 -o-transition-duration: 0.7s;
					transition-duration: 0.7s;
}

.masonry {
	-webkit-transition-property: height, width;
		 -moz-transition-property: height, width;
			-ms-transition-property: height, width;
			 -o-transition-property: height, width;
					transition-property: height, width;
}

.masonry .masonry-brick {
	-webkit-transition-property: left, right, top;
		 -moz-transition-property: left, right, top;
			-ms-transition-property: left, right, top;
			 -o-transition-property: left, right, top;
					transition-property: left, right, top;
}