// Import Compass and external stylesheets
@import 'compass';
@import 'vendor/html5bp';


// Include fonts
@include font-face("BebasNeue", font-files("bebas-neue/BebasNeue-webfont.woff", woff, "bebas-neue/BebasNeue-webfont.ttf", truetype, "bebas-neue/BebasNeue-webfont.otf", opentype, "bebas-neue/BebasNeue-webfont.svg", svg), "bebas-neue/BebasNeue-webfont.eot");


// Misc vars
$imgThumbSize: 306px;
$imgFullSize: 510px;
$headline-font: BebasNeue, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$body-font: "PT Serif", Georgia, "Times New Roman", Times, serif;


// Main styles
body {
	margin: 2% 0;
	background: url(../img/bg.jpg);
	color: white;
	font-family: $body-font;
}

h2 {
	font: {
		family: $headline-font;
		size: 30px;
		weight: normal;
	};
	margin: 20px;
}

#main {
	margin: 0 auto;

	.img-container {
		cursor: pointer;
		float: left;
		height: $imgThumbSize;
		overflow: hidden;
		position: relative;
		width: $imgThumbSize;

		img {
			width: 100%;
			height: 100%;
		}

		.nameOverlay, .captionOverlay {
			@include opacity(0);
			@include transition(all .15s ease-out);
			bottom: 0;
			left: 0;
			max-height: 0;
			position: absolute;
		}

		.nameOverlay {
			background-image: url(../img/image-overlay.png);
			@include background-image(radial-gradient(center, ellipse cover, rgba(255,227,204,0.7) 0%,rgba(229,180,140,0.7) 100%));
			font: {
				family: $headline-font;
				size: 40px;
			};
			line-height: 0;
			text-align: center;
			width: $imgThumbSize;
		}

		.captionOverlay {
			@include background-image(linear-gradient(left top, rgba(255,227,204,0.7) 0%,rgba(229,180,140,1) 100%));
			width: 100%;

			p {
				font-size: 14px;
				margin: 0 20px 20px 20px;
			}

		}

		&:hover {
			.nameOverlay {
				@include opacity(1);
				@include transition(all .25s);
				max-height: $imgThumbSize;
				line-height: $imgThumbSize;
			}
		}

		&.active {
			@include box-shadow(0 0 40px rgba(black, .8));
			@include scale(1.25);
			width: $imgFullSize;
			height: $imgFullSize;
			z-index: 9999;
			margin: 52px 0px 0px 52px;

			.nameOverlay { display: none; }

			&:hover {
				.captionOverlay {
					@include opacity(1);
					@include transition(all .25s);
					height: 200px;
					max-height: 200px;
				}
			}
		}
	}
}


// Masonry
.masonry,
.masonry .masonry-brick {
	-webkit-transition-duration: 0.7s;
		 -moz-transition-duration: 0.7s;
			-ms-transition-duration: 0.7s;
			 -o-transition-duration: 0.7s;
					transition-duration: 0.7s;
}

.masonry {
	-webkit-transition-property: height, width;
		 -moz-transition-property: height, width;
			-ms-transition-property: height, width;
			 -o-transition-property: height, width;
					transition-property: height, width;
}

.masonry .masonry-brick {
	-webkit-transition-property: left, right, top;
		 -moz-transition-property: left, right, top;
			-ms-transition-property: left, right, top;
			 -o-transition-property: left, right, top;
					transition-property: left, right, top;
}