// Import Compass and external stylesheets
@import 'compass';
@import 'vendor/html5bp';


// Include fonts
@include font-face("BebasNeue", font-files("bebas-neue/BebasNeue-webfont.woff", woff, "bebas-neue/BebasNeue-webfont.ttf", truetype, "bebas-neue/BebasNeue-webfont.otf", opentype, "bebas-neue/BebasNeue-webfont.svg", svg), "bebas-neue/BebasNeue-webfont.eot");


// Misc vars
$imgThumbSize: 306px;
$imgFullSize: 612px;
$headline-font: BebasNeue, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$body-font: "PT Serif", Georgia, "Times New Roman", Times, serif;


// Main styles
body {
	margin: 2% 0;
	background: url(../img/bg.jpg);
	color: white;
	font: {
		family: $body-font;
		size: 14px;
	}
}

button, input, select, textarea { font-family: $body-font; }

h2 {
	font: {
		family: $headline-font;
		size: 40px;
		weight: normal;
	};
	margin: 20px;
}

#main {
	margin: 0 auto;

	.img-container {
		cursor: pointer;
		float: left;
		height: $imgThumbSize;
		overflow: hidden;
		position: relative;
		width: $imgThumbSize;

		img {
			width: 100%;
			height: 100%;
		}

		.nameOverlay, .captionOverlay {
			@include opacity(0);
			@include transition(all .15s ease-out);
			bottom: 0;
			left: 0;
			max-height: 0;
			position: absolute;
		}

		.nameOverlay {
			background-image: url(../img/thumb-overlay.png);
			@include background-image(radial-gradient(center, ellipse cover, rgba(255,227,204,0.7) 0%,rgba(229,180,140,0.7) 100%));
			font: {
				family: $headline-font;
				size: 40px;
			};
			line-height: 0;
			text-align: center;
			width: $imgThumbSize;
		}

		.captionOverlay {
			background-image: url(../img/E5B48C-70.png);
			@include background-image(linear-gradient(left top, rgba(255,204,161,0.7) 0%,rgba(213,157,112,0.9) 100%));
			width: 100%;

			p { font-size: 18px; margin: 0 20px 20px 20px; }
		}

		&:hover {
			.nameOverlay {
				@include opacity(1);
				@include transition(all .25s);
				max-height: $imgThumbSize;
				line-height: $imgThumbSize;
			}
		}

		&.active {
			@include box-shadow(0 0 40px rgba(black, .7));
			z-index: 10;

			.nameOverlay { display: none; }

			&:hover {
				.captionOverlay {
					@include opacity(1);
					@include transition(all .25s);
					height: 200px;
					max-height: 200px;
				}
			}
		}
	}
}


// Copy permalink
#copy-permalink {
	display: none; // Only show it if History API is supported
}

html.history #copy-permalink {
	@include opacity(0);
	@include transition(opacity .15s ease-in);
	background: url(../img/copy-permalink.png) no-repeat;
	display: block;
	height: 50px;
	position: fixed;
	right: 10px;
	top: 10px;
	width: 50px;
	z-index: 20;
	cursor: pointer;

	&:before {
		border-color: transparent transparent transparent rgba(229,180,140,.9);
		border-style: solid;
		border-width: 10px;
		content: "\00a0";
		display: none;
		height: 0;
		left: -10px;
		position: absolute;
		top: 16px;
		width: 0;
	}

	&:after {
		@include border-radius(4px);
		-webkit-font-smoothing: antialiased;
		background: rgba(229,180,140,.9);
		content: attr(data-title);
		display: none;
		padding: 7px 0 7px;
		position: absolute;
		right: 60px;
		text-align: center;
		top: 9px;
	}

	&.visible {
		@include opacity(.85);
		@include transition(opacity .25s ease-out);

		&:hover {
			@include opacity(1);
			@include transition(opacity .25s ease-out);

			&:before {
				display: block;
			}

			&:after {
				display: block;
				width: 209px;
			}
		}
	}

	input {
		@include border-radius(4px);
		@include box-shadow(0 0 10px rgba(0, 0, 0, .2));
		@include opacity(0);
		@include transition(opacity .15s ease-in);
		background: white;
		color: #666666;
		border: none;
		height: 25px;
		padding: 5px 10px;
		position: absolute;
		right: 10px;
		top: 51px;
		width: 239px;

		&.visible {
			@include opacity(1);
			@include transition(opacity .25s ease-out);
		}

		&:focus { outline: none; }
	}

}


// Masonry
.masonry,
.masonry .masonry-brick {
	-webkit-transition-duration: 0.7s;
		 -moz-transition-duration: 0.7s;
			-ms-transition-duration: 0.7s;
			 -o-transition-duration: 0.7s;
					transition-duration: 0.7s;
}

.masonry {
	-webkit-transition-property: height, width;
		 -moz-transition-property: height, width;
			-ms-transition-property: height, width;
			 -o-transition-property: height, width;
					transition-property: height, width;
}

.masonry .masonry-brick {
	-webkit-transition-property: left, right, top;
		 -moz-transition-property: left, right, top;
			-ms-transition-property: left, right, top;
			 -o-transition-property: left, right, top;
					transition-property: left, right, top;
}